{% extends "cliente/base.html" %}

{% block title %} Clientes {% endblock %}

{% block content %}
  {% for cliente in cliente_list %}

    <div class="card text-white bg-dark mb-3" style="width: 18rem;">
      <div class="card-header">
        <a href="{{cliente.get_absolute_url}}"> {{cliente.id}}. {{cliente.nome}} </a>
      </div>   
      <div class="card-body">
        <h5 class="card-title">{{cliente.fantasia}}</h5>
        <p class="card-text">
          CNPJ: {{cliente.cnpj}} <br>
        </p>
      </div>
    </div>    

  {% endfor %}
{% endblock  %}